# Nội dung chính

Trong notebook này chúng ta sẽ đi qua các biến đổi dữ liệu cơ bản và cách sử dụng pipeoperator trong biến đổi dữ liệu

Pkg là thư viện trong base của julia nên bạn không cần phải cài. Nếu bạn thiếu DataFrames, CSV, XLSX, Pipe, bạn cần phải cài những thư viện này bằng cách:
```julia
pkgs = ["DataFrames", "CSV", "XLSX", "Pipe", "Statistics"]
Pkg.add(pkgs)
```

In [ ]:
using Pkg

In [ ]:
# DataFrames
Pkg.add("DataFrames")

    Updating registry at `~/.julia/registries/General.toml`

   Resolving package versions...

  No Changes to `~/.julia/environments/v1.8/Project.toml`
  No Changes to `~/.julia/environments/v1.8/Manifest.toml`

In [ ]:
# CSV
Pkg.add("CSV")

   Resolving package versions...
  No Changes to `~/.julia/environments/v1.8/Project.toml`
  No Changes to `~/.julia/environments/v1.8/Manifest.toml`

In [ ]:
# XLSX
Pkg.add("XLSX")

   Resolving package versions...
  No Changes to `~/.julia/environments/v1.8/Project.toml`
  No Changes to `~/.julia/environments/v1.8/Manifest.toml`

In [ ]:
# Statistics
Pkg.add("Statistics")

   Resolving package versions...
  No Changes to `~/.julia/environments/v1.8/Project.toml`
  No Changes to `~/.julia/environments/v1.8/Manifest.toml`

In [ ]:
# Pipe
Pkg.add("Pipe")

   Resolving package versions...
  No Changes to `~/.julia/environments/v1.8/Project.toml`
  No Changes to `~/.julia/environments/v1.8/Manifest.toml`

In [ ]:
# Tải các thư viên
using DataFrames, CSV, XLSX
using Statistics
using Pipe

# Pipe operator

Chúng ta sẽ cùng làm quen với Pipe operator trước khi chúng ta bắt đầu các phần khác. Lý do là vì các phần dưới đây mình sẽ sử dụng pipeoperator khá nhiều. Pipeoperator sẽ giúp ích cho chúng ta rất nhiều đặc biệt là việc sâu chuỗi các bước biến đổi dữ liệu vào với nhau để tránh việc phải cắt nhỏ các bước xử lý ra, hoặc đơn giản là bạn không muốn phải dùng quá nhiều các dấu ngoặc (nested), khiến cho câu lệnh khó đọc hơn.

In [ ]:
# Tải dữ liệu về
function download_data(url::String)
    return DataFrame(CSV.File(download(url); missingstring = "?"))
end

download_data (generic function with 1 method)

In [ ]:
url = "https://www.openml.org/data/get_csv/16826755/phpMYEkMl"
df = download_data(url)
@pipe df |> first(_, 5)

5×14 DataFrame
 Row │ pclass  survived  name                               sex      age       ⋯
     │ Int64   Int64     String                             String7  Float64?  ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │      1         1  Allen, Miss. Elisabeth Walton      female    29.0     ⋯
   2 │      1         1  Allison, Master. Hudson Trevor     male       0.9167
   3 │      1         0  Allison, Miss. Helen Loraine       female     2.0
   4 │      1         0  Allison, Mr. Hudson Joshua Creig…  male      30.0
   5 │      1         0  Allison, Mrs. Hudson J C (Bessie…  female    25.0     ⋯
                                                               9 columns omitted

In [ ]:
@pipe df |> describe(_)

14×7 DataFrame
 Row │ variable   mean      min                  median   max                  ⋯
     │ Symbol     Union…    Any                  Union…   Any                  ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ pclass     2.29488   1                    3.0      3                    ⋯
   2 │ survived   0.381971  0                    0.0      1
   3 │ name                 Abbing, Mr. Anthony           van Melkebeke, Mr. P
   4 │ sex                  female                        male
   5 │ age        29.8811   0.1667               28.0     80.0                 ⋯
   6 │ sibsp      0.498854  0                    0.0      8
   7 │ parch      0.385027  0                    0.0      9
   8 │ ticket               110152                        WE/P 5735
   9 │ fare       33.2955   0.0                  14.4542  512.329              ⋯
  10 │ cabin                A10                           T
  11 │ embarked             C                             S
  12 │ boat                 1                             D
  13 │ body       160.81    1                    155.0    328                  ⋯
  14 │ home.dest            ?Havana, Cuba                 Zurich, Switzerland
                                                               3 columns omitted

In [ ]:
@pipe df |> first(_, 1) |> describe(_)

14×7 DataFrame
 Row │ variable   mean     min                            median   max         ⋯
     │ Symbol     Union…   Any                            Union…   Any         ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ pclass     1.0      1                              1.0      1           ⋯
   2 │ survived   1.0      1                              1.0      1
   3 │ name                Allen, Miss. Elisabeth Walton           Allen, Miss
   4 │ sex                 female                                  female
   5 │ age        29.0     29.0                           29.0     29.0        ⋯
   6 │ sibsp      0.0      0                              0.0      0
   7 │ parch      0.0      0                              0.0      0
   8 │ ticket              24160                                   24160
   9 │ fare       211.338  211.338                        211.338  211.338     ⋯
  10 │ cabin               B5                                      B5
  11 │ embarked            S                                       S
  12 │ boat                2                                       2
  13 │ body       NaN                                                          ⋯
  14 │ home.dest           St Louis, MO                            St Louis, M
                                                               3 columns omitted

## Ví dụ đơn giản

In [ ]:
# Kiểm tra thông tin của hàm first:
?first

ErrorException: syntax: invalid identifier name "?"

In [ ]:
# Lấy 5 dòng dữ liệu đầu tiên:
first(df, 5)

5×14 DataFrame
 Row │ pclass  survived  name                               sex      age       ⋯
     │ Int64   Int64     String                             String7  Float64?  ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │      1         1  Allen, Miss. Elisabeth Walton      female    29.0     ⋯
   2 │      1         1  Allison, Master. Hudson Trevor     male       0.9167
   3 │      1         0  Allison, Miss. Helen Loraine       female     2.0
   4 │      1         0  Allison, Mr. Hudson Joshua Creig…  male      30.0
   5 │      1         0  Allison, Mrs. Hudson J C (Bessie…  female    25.0     ⋯
                                                               9 columns omitted

In [ ]:
# Tương đương với:
@pipe df |> first(_, 5)

5×14 DataFrame
 Row │ pclass  survived  name                               sex      age       ⋯
     │ Int64   Int64     String                             String7  Float64?  ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │      1         1  Allen, Miss. Elisabeth Walton      female    29.0     ⋯
   2 │      1         1  Allison, Master. Hudson Trevor     male       0.9167
   3 │      1         0  Allison, Miss. Helen Loraine       female     2.0
   4 │      1         0  Allison, Mr. Hudson Joshua Creig…  male      30.0
   5 │      1         0  Allison, Mrs. Hudson J C (Bessie…  female    25.0     ⋯
                                                               9 columns omitted

In [ ]:
# Lấy dữ liệu cột sex, age và survived:
select(df, [:sex, :age, :survived])

1309×3 DataFrame
  Row │ sex      age           survived
      │ String7  Float64?      Int64
──────┼─────────────────────────────────
    1 │ female        29.0            1
    2 │ male           0.9167         1
    3 │ female         2.0            0
    4 │ male          30.0            0
    5 │ female        25.0            0
    6 │ male          48.0            1
    7 │ female        63.0            1
    8 │ male          39.0            0
    9 │ female        53.0            1
   10 │ male          71.0            0
   11 │ male          47.0            0
  ⋮   │    ⋮          ⋮           ⋮
 1300 │ male          27.0            0
 1301 │ female        15.0            1
 1302 │ male          45.5            0
 1303 │ male     missing              0
 1304 │ male     missing              0
 1305 │ female        14.5            0
 1306 │ female   missing              0
 1307 │ male          26.5            0
 1308 │ male          27.0            0
 1309 │ male          29.0            0
                       1288 rows omitted

In [ ]:
# Tương đương với:
@pipe df |> select(_, [:sex, :age, :survived]) |> first(_, 5)

5×3 DataFrame
 Row │ sex      age       survived
     │ String7  Float64?  Int64
─────┼─────────────────────────────
   1 │ female    29.0            1
   2 │ male       0.9167         1
   3 │ female     2.0            0
   4 │ male      30.0            0
   5 │ female    25.0            0

In [ ]:
# Lấy số liệu về nữ:
filter(:sex => ==("female"), df)

466×14 DataFrame
 Row │ pclass  survived  name                               sex      age       ⋯
     │ Int64   Int64     String                             String7  Float64?  ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │      1         1  Allen, Miss. Elisabeth Walton      female        29.0 ⋯
   2 │      1         0  Allison, Miss. Helen Loraine       female         2.0
   3 │      1         0  Allison, Mrs. Hudson J C (Bessie…  female        25.0
   4 │      1         1  Andrews, Miss. Kornelia Theodosia  female        63.0
   5 │      1         1  Appleton, Mrs. Edward Dale (Char…  female        53.0 ⋯
   6 │      1         1  Astor, Mrs. John Jacob (Madelein…  female        18.0
   7 │      1         1  Aubart, Mme. Leontine Pauline      female        24.0
   8 │      1         1  Barber, Miss. Ellen 'Nellie'       female        26.0
  ⋮  │   ⋮        ⋮                      ⋮                     ⋮         ⋮     ⋱
 460 │      3         0  Vander Planke, Mrs. Julius (Emel…  female        31.0 ⋯
 461 │      3         0  Vestrom, Miss. Hulda Amanda Adol…  female        14.0
 462 │      3         1  Whabee, Mrs. George Joseph (Shaw…  female        38.0
 463 │      3         1  Wilkes, Mrs. James (Ellen Needs)   female        47.0
 464 │      3         1  Yasbeck, Mrs. Antoni (Selini Ale…  female        15.0 ⋯
 465 │      3         0  Zabour, Miss. Hileni               female        14.5
 466 │      3         0  Zabour, Miss. Thamine              female   missing
                                                  9 columns and 451 rows omitted

In [ ]:
# Tương đương với:
@pipe df |> filter(:sex => ==("female"), _)

466×14 DataFrame
 Row │ pclass  survived  name                               sex      age       ⋯
     │ Int64   Int64     String                             String7  Float64?  ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │      1         1  Allen, Miss. Elisabeth Walton      female        29.0 ⋯
   2 │      1         0  Allison, Miss. Helen Loraine       female         2.0
   3 │      1         0  Allison, Mrs. Hudson J C (Bessie…  female        25.0
   4 │      1         1  Andrews, Miss. Kornelia Theodosia  female        63.0
   5 │      1         1  Appleton, Mrs. Edward Dale (Char…  female        53.0 ⋯
   6 │      1         1  Astor, Mrs. John Jacob (Madelein…  female        18.0
   7 │      1         1  Aubart, Mme. Leontine Pauline      female        24.0
   8 │      1         1  Barber, Miss. Ellen 'Nellie'       female        26.0
  ⋮  │   ⋮        ⋮                      ⋮                     ⋮         ⋮     ⋱
 460 │      3         0  Vander Planke, Mrs. Julius (Emel…  female        31.0 ⋯
 461 │      3         0  Vestrom, Miss. Hulda Amanda Adol…  female        14.0
 462 │      3         1  Whabee, Mrs. George Joseph (Shaw…  female        38.0
 463 │      3         1  Wilkes, Mrs. James (Ellen Needs)   female        47.0
 464 │      3         1  Yasbeck, Mrs. Antoni (Selini Ale…  female        15.0 ⋯
 465 │      3         0  Zabour, Miss. Hileni               female        14.5
 466 │      3         0  Zabour, Miss. Thamine              female   missing
                                                  9 columns and 451 rows omitted

In [ ]:
# Gộp lại tất cả:
@pipe df |> 
select(_, [:sex, :age, :survived]) |> # Lấy dữ liệu của 3 cột: sex, age, survived
filter(:sex => ==("female"), _)  |> # Chỉ lấy tiếp dữ liệu cột sex là female 
first(_, 5) # Lấy 5 dòng dữ liệu đầu tiên

5×3 DataFrame
 Row │ sex      age       survived
     │ String7  Float64?  Int64
─────┼─────────────────────────────
   1 │ female       29.0         1
   2 │ female        2.0         0
   3 │ female       25.0         0
   4 │ female       63.0         1
   5 │ female       53.0         1

**Công thức của pipe**:

Từ các ví dụ trên, chúng ta cần lưu ý 3 thứ sau:
1. Bắt đầu pipe với `@pipe`
2. Các câu lệnh được sâu chuỗi với nhau bằng `|>`
3. Đối tượng được pipe giữa các câu lệnh được gán vào trong câu lệnh bằng `_` (gạch chân - underscore) (ở ví dụ trên là df và các bảng con của df)

**Ví dụ khác:**

In [ ]:
@pipe df |>
groupby(_, :sex) |>
combine(_, [:age => (x -> mean(skipmissing(x))), :survived => sum])

2×3 DataFrame
 Row │ sex      age_function  survived_sum
     │ String7  Float64       Int64
─────┼─────────────────────────────────────
   1 │ female        28.6871           339
   2 │ male          30.5852           161